In [1]:
import sqlite3

In [8]:
from sqlite3.dbapi2 import Cursor
# Connect to a SQLite database
con = sqlite3.connect('sales_data.db')
cur = con.cursor()

# create a table for sales data
cur.execute('''
  CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    reigon TEXT

  )''')

# insert data into the sales table
sales_data = [
    ('2023-01-01', 'product1', 100, 'North'),
    ('2023-01-02', 'product2', 200, 'South'),
    ('2023-01-03', 'product1', 150, 'East'),
    ('2023-01-04', 'product3', 250, 'West'),
    ('2023-01-05', 'product2', 300, 'North')
]


cur.executemany('''
  INSERT INTO sales(date,product,sales,reigon)
  VALUES(?,?,?,?)
''',sales_data)

con.commit()

In [9]:
# Query the data from the table
cur.execute('''
  SELECT * FROM sales
''')
rows = cur.fetchall()

# print the quired data
for row in rows:
  print(row)

(1, '2023-01-01', 'product1', 100, 'North')
(2, '2023-01-02', 'product2', 200, 'South')
(3, '2023-01-03', 'product1', 150, 'East')
(4, '2023-01-04', 'product3', 250, 'West')
(5, '2023-01-05', 'product2', 300, 'North')

In [10]:
# close the connection
con.close()